<h1>Card</h1>

<div class="docs-flex docs-items-start">
  <div class="card docs-w-1/2">
    <div class="card-body">
      <h3 class="card-title">Awesome</h3>
      <p class="card-text">Even with all our technology and the inventions that make modern life so much easier than it once was, it takes just one big natural disaster to wipe all that away and remind us that, here on Earth, we're still at the mercy of nature.</p>
    </div>

    <div class="card-actions">
      <button type="button" class="btn btn-primary">Sweet</button>
      <button type="button" class="btn">Awesome</button>
    </div>
  </div>

  <div class="card docs-w-1/2 docs-ml-4">
    <img class="card-header-image" src="/images/placeholder.jpg" alt="Placeholder" width="800px" height="300px">

    <div class="card-body">
      <h3 class="card-title">Awesome</h3>
      <p class="card-text">Even with all our technology and the inventions that make modern life so much easier than it once was, it takes just one big natural disaster to wipe all that away and remind us that, here on Earth, we're still at the mercy of nature.</p>
    </div>

    <div class="card-actions">
      <button type="button" class="btn btn-primary">Sweet</button>
      <button type="button" class="btn">Awesome</button>
    </div>
  </div>
</div>