<h1>Colors</h1>

<p>Theme</p>
<div class="docs-mb-4 docs-flex">
  {{#each theme key="@index" as |color|}}
    <div class="docs-color-circle docs-color-circle-{{color}}"></div>
  {{/each}}
</div>

<p>Grays</p>
<div class="docs-mb-4 docs-flex">
  {{#each grays key="@index" as |color|}}
    <div class="docs-color-circle docs-color-circle-{{color}}"></div>
  {{/each}}
</div>

<p>Colors</p>
<div class="docs-mb-4 docs-flex">
  {{#each colors key="@index" as |color|}}
    <div class="docs-color-circle docs-color-circle-{{color}}"></div>
  {{/each}}
</div>