<h1>Colors</h1>

<p>Theme</p>
<div class="docs-mb-4 docs-flex">
  {{#each this.theme key="@index" as |color|}}
    <div class="docs-color-circle docs-color-circle-{{color}}"></div>
  {{/each}}
</div>

<p>Grays</p>
<div class="docs-mb-4 docs-flex">
  {{#each this.grays key="@index" as |color|}}
    <div class="docs-color-circle docs-color-circle-{{color}}"></div>
  {{/each}}
</div>

<p>Colors</p>
<div class="docs-mb-4 docs-flex">
  {{#each this.colors key="@index" as |color|}}
    <div class="docs-color-circle docs-color-circle-{{color}}"></div>
  {{/each}}
</div>