<h1>Input</h1>

<div class="field">
  <label for="full-name" class="field-label">Full name</label>
  <small id="full-name-hint" class="field-hint">We'll never share your email with anyone else.</small>
  <input type="text" class="field-control" id="full-name" aria-describedby="full-name-hint" placeholder="Enter your name">
</div>

<div class="field invalid">
  <label for="full-name" class="field-label">Full name</label>
  <small id="full-name-hint" class="field-hint">We'll never share your email with anyone else.</small>
  <input type="text" class="field-control" id="full-name" aria-describedby="full-name-hint" placeholder="Enter your name">
  <span class="field-error">Full name is required</span>
</div>

<hr>

<div class="field">
  <input type="text" class="field-control" placeholder="Text field">
</div>

<div class="field">
  <input type="text" class="field-control" value="Text field">
</div>

<div class="field">
  <input type="text" class="field-control focus" placeholder="Focused with placeholder">
</div>

<div class="field">
  <input type="text" class="field-control focus" value="Focused with value">
</div>

<div class="field">
  <input type="text" class="field-control" disabled placeholder="Disabled with placeholder">
</div>

<div class="field">
  <input type="text" class="field-control" disabled value="Disabled with value">
</div>

<div class="field">
  <input type="text" class="field-control field-control-sm" placeholder="Small input">
</div>

<div class="field">
  <input type="text" class="field-control field-control-lg" placeholder="Large input">
</div>