@mixin button-variant(
  $background,
  $border,
  $focus: rgba($border, $focus-shadow-opacity),
  $hover-background: lighten($background, 6%),
  $hover-border: lighten($border, 6%),
  $active-background: darken($background, 6%),
  $active-border: darken($border, 6%)
) {
  color: color-yiq($background);
  background-color: $background;
  border-color: $border;

  svg {
    fill: color-yiq($background);
  }

  &:hover {
    color: color-yiq($hover-background);
    background-color: $hover-background;
    border-color: $hover-border;

    svg {
      fill: color-yiq($hover-background);
    }
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $focus-shadow-width $focus;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: color-yiq($background);
    background-color: $background;
    border-color: $border;

    svg {
      fill: color-yiq($background);
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border;

    svg {
      fill: color-yiq($active-background);
    }

    &:focus {
      box-shadow: 0 0 0 $focus-shadow-width $focus;
    }
  }
}

@mixin button-variant-outline(
  $color,
  $text-color: $color,
  $focus: rgba($color, $focus-shadow-opacity),
  $hover-background: $color,
  $hover-border: $color,
  $active-background: darken($color, 6%),
  $active-border: darken($color, 6%)
) {
  color: $text-color;
  background-color: transparent;
  border-color: $color;

  svg {
    fill: $text-color;
  }

  &:hover {
    color: color-yiq($hover-background);
    background-color: $hover-background;
    border-color: $hover-border;

    svg {
      fill: color-yiq($hover-background);
    }
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $focus-shadow-width $focus;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $text-color;
    background-color: transparent;
    border-color: $color;

    svg {
      fill: $text-color;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border;

    svg {
      fill: color-yiq($active-background);
    }

    &:focus {
      box-shadow: 0 0 0 $focus-shadow-width $focus;
    }
  }
}

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;

  svg {
    height: (18 / 14) * $font-size;
    width: (18 / 14) * $font-size;
  }
}

@mixin button-reset {
  color: $text;
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }
}
