<h1>Spinner</h1>

<svg width="24px" height="24px" class="spinner" viewBox="0 0 48 48">
  <circle class="spinner-path" cx="24" cy="24" r="20" fill="none" stroke-width="6"></circle>
</svg>

<svg width="36px" height="36px" class="spinner" viewBox="0 0 48 48">
  <circle class="spinner-path" cx="24" cy="24" r="20" fill="none" stroke-width="6"></circle>
</svg>

<svg width="48px" height="48px" class="spinner" viewBox="0 0 48 48">
  <circle class="spinner-path" cx="24" cy="24" r="20" fill="none" stroke-width="6"></circle>
</svg>