<div class="custom-field">
  <input id="{{this.id}}-checkbox" type="checkbox" class="custom-field-input" ...attributes>
  <label for="{{this.id}}-checkbox" class="custom-field-label">
    {{@label}}
  </label>
</div>
