<div class="notify" ...attributes>
  {{#each this.notify.messages key="id" as |message|}}
    <NotifyMessage
      @message={{message}}
      @onDismiss={{fn this.removeMessage message}}
      data-test-notify-message={{message.type}}
    />
  {{/each}}
</div>