<h1>Fields</h1>

<div class="docs-flex docs-w-full docs-mb-4">
  <div class="docs-w-1/4">
    <input type="text" class="field-control" placeholder="Text">
  </div>
  <div class="docs-w-1/4 docs-mx-2">
    <input type="text" class="field-control focus" placeholder="Focused">
  </div>
  <div class="docs-w-1/4 docs-mr-2">
    <input type="text" class="field-control invalid" placeholder="Invalid">
  </div>
  <div class="docs-w-1/4">
    <input type="text" class="field-control" disabled placeholder="Disabled">
  </div>
</div>

<div class="docs-flex docs-w-full docs-mb-4">
  <div class="docs-w-1/4">
    <input type="number" class="field-control" placeholder="Number">
  </div>
  <div class="docs-w-1/4 docs-mx-2">
    <input type="number" class="field-control focus" placeholder="Focused">
  </div>
  <div class="docs-w-1/4 docs-mr-2">
    <input type="number" class="field-control invalid" placeholder="Invalid">
  </div>
  <div class="docs-w-1/4">
    <input type="number" class="field-control" disabled placeholder="Disabled">
  </div>
</div>

<div class="docs-flex docs-w-full docs-mb-4">
  <div class="docs-w-1/4">
    <select class="field-control">
      <option value="" disabled selected hidden>Select</option>
      <option value="Pirin">Pirin</option>
    </select>
  </div>
  <div class="docs-w-1/4 docs-mx-2">
    <select class="field-control focus">
      <option value="" disabled selected hidden>Focused</option>
      <option value="Pirin">Pirin</option>
    </select>
  </div>
  <div class="docs-w-1/4 docs-mr-2">
    <select class="field-control invalid">
      <option value="" disabled selected hidden>Invalid</option>
      <option value="Pirin">Pirin</option>
    </select>
  </div>
  <div class="docs-w-1/4">
    <select class="field-control" disabled>
      <option value="" disabled selected hidden>Disabled</option>
      <option value="Pirin">Pirin</option>
    </select>
  </div>
</div>

<div class="docs-flex docs-w-full docs-mb-4">
  <div class="docs-w-1/4">
    <textarea class="field-control" placeholder="Textarea"></textarea>
  </div>
  <div class="docs-w-1/4 docs-mx-2">
    <textarea class="field-control focus" placeholder="Focused"></textarea>
  </div>
  <div class="docs-w-1/4 docs-mr-2">
    <textarea class="field-control invalid" placeholder="Invalid"></textarea>
  </div>
  <div class="docs-w-1/4">
    <textarea class="field-control" disabled placeholder="Disabled"></textarea>
  </div>
</div>

<div class="docs-flex docs-w-full docs-mb-4">
  <div class="docs-w-1/4">
    <div class="custom-field">
      <input type="checkbox" class="custom-field-input" id="check1">
      <label for="check1" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4 docs-mx-2">
    <div class="custom-field">
      <input type="checkbox" class="custom-field-input focus" id="check2">
      <label for="check2" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4 docs-mr-2">
    <div class="custom-field">
      <input type="checkbox" class="custom-field-input invalid" id="check3">
      <label for="check3" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4">
    <div class="custom-field">
      <input type="checkbox" class="custom-field-input" disabled id="check4">
      <label for="check4" class="custom-field-label">Awesome</label>
    </div>
  </div>
</div>

<div class="docs-flex docs-w-full docs-mb-4">
  <div class="docs-w-1/4">
    <div class="custom-field">
      <input type="checkbox" checked class="custom-field-input" id="check5">
      <label for="check5" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4 docs-mx-2">
    <div class="custom-field">
      <input type="checkbox" checked class="custom-field-input focus" id="check6">
      <label for="check6" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4 docs-mr-2">
    <div class="custom-field">
      <input type="checkbox" checked class="custom-field-input invalid" id="check7">
      <label for="check7" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4">
    <div class="custom-field">
      <input type="checkbox" checked class="custom-field-input" disabled id="check8">
      <label for="check8" class="custom-field-label">Awesome</label>
    </div>
  </div>
</div>

<div class="docs-flex docs-w-full docs-mb-4">
  <div class="docs-w-1/4">
    <div class="custom-field">
      <input name="radio1" type="radio" class="custom-field-input" id="radio1">
      <label for="radio1" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4 docs-mx-2">
    <div class="custom-field">
      <input name="radio1" type="radio" class="custom-field-input focus" id="radio2">
      <label for="radio2" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4 docs-mr-2">
    <div class="custom-field">
      <input name="radio1" type="radio" class="custom-field-input invalid" id="radio3">
      <label for="radio3" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4">
    <div class="custom-field">
      <input name="radio1" type="radio" class="custom-field-input" disabled id="radio4">
      <label for="radio4" class="custom-field-label">Awesome</label>
    </div>
  </div>
</div>

<div class="docs-flex docs-w-full docs-mb-4">
  <div class="docs-w-1/4">
    <div class="custom-field">
      <input type="radio" checked class="custom-field-input" id="radio5">
      <label for="radio5" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4 docs-mx-2">
    <div class="custom-field">
      <input type="radio" checked class="custom-field-input focus" id="radio6">
      <label for="radio6" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4 docs-mr-2">
    <div class="custom-field">
      <input type="radio" checked class="custom-field-input invalid" id="radio7">
      <label for="radio7" class="custom-field-label">Awesome</label>
    </div>
  </div>
  <div class="docs-w-1/4">
    <div class="custom-field">
      <input type="radio" checked class="custom-field-input" disabled id="radio8">
      <label for="radio8" class="custom-field-label">Awesome</label>
    </div>
  </div>
</div>