<h1>Button</h1>

<div class="docs-mb-2">
  <button type="button" class="btn">Default</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-subtle">Subtle</button>
  <button type="button" class="btn btn-link">Link</button>
</div>

<div class="docs-mb-2">
  <button type="button" class="btn btn-sm">Default</button>
  <button type="button" class="btn btn-sm btn-primary">Primary</button>
  <button type="button" class="btn btn-sm btn-danger">Danger</button>
  <button type="button" class="btn btn-sm btn-warning">Warning</button>
  <button type="button" class="btn btn-sm btn-subtle">Subtle</button>
  <button type="button" class="btn btn-sm btn-link">Link</button>
</div>

<div class="docs-mb-2">
  <button type="button" class="btn btn-lg">Default</button>
  <button type="button" class="btn btn-lg btn-primary">Primary</button>
  <button type="button" class="btn btn-lg btn-danger">Danger</button>
  <button type="button" class="btn btn-lg btn-warning">Warning</button>
  <button type="button" class="btn btn-lg btn-subtle">Subtle</button>
  <button type="button" class="btn btn-lg btn-link">Link</button>
</div>