.alert {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
  border-radius: $border-radius;
  box-shadow: $shadow-md;

  color: $white;
  font-size: 0.875rem;
}

.alert-success {
  background-color: $success;
}

.alert-danger {
  background-color: $danger;
}

.alert-info {
  background-color: $primary;
}

.alert-icon {
  flex: 0 0 1.25rem;
  width: 1.125rem;
  height: 1.125rem;
  fill: $white;
}

.alert-separator {
  flex: 0 0 1px;
  align-self: stretch;
  margin: 0 1rem;
  background-color: $white;
  opacity: .6;
}

.alert-body {
  padding: .125rem 0;
}
