.alert {
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  margin-bottom: 1rem;
  padding: .75rem 1.5rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  color: $white;
  font-size: 0.875rem;
}

.alert-success {
  background-color: $success;
}

.alert-danger {
  background-color: $danger;
}

.alert-info {
  background-color: $primary;
}

.alert-icon {
  flex: 0 0 1.5rem;
}

.alert-separator {
  flex: 0 0 1px;
  align-self: stretch;
  margin: 0 1rem;
  background-color: $white;
}

.alert-body {
  padding: .25rem 0;
}
