.badge {
  @include badge-variant($gray-200, $gray-700);
  @include transition(
    background-color $transition-duration $ease,
    box-shadow $transition-duration $ease
  );

  padding: 0.25em 0.5em;
  border-radius: $border-radius;
  font-size: 0.75em;
  font-weight: 500;
}

.badge-primary {
  @include badge-variant($light-blue, $primary);
}

.badge-success {
  @include badge-variant($light-green, $darken-green);
}

.badge-danger {
  @include badge-variant($light-red, $darken-red);
}

.badge-warning {
  @include badge-variant($light-yellow, $darken-yellow);
}

.badge-info {
  @include badge-variant($light-cyan, $darken-cyan);
}

.badge-light {
  @include badge-variant($gray-50, $gray-700);
}

.badge-dark {
  @include badge-variant($gray-900);
}
