.card {
  position: relative;
  border-radius: $border-radius-lg;
  background-clip: border-box;
  box-shadow: $box-shadow;
  border: 1px solid $gray-100;
}

.card-body {
  padding: 1.5rem;
}

.card-header-image {
  border-top-right-radius: $border-radius-lg;
  border-top-left-radius: $border-radius-lg;
}

.card-title {
  margin-bottom: .5rem;
}

.card-text {
  &:last-child {
    margin-bottom: 0;
  }
}

.card-actions {
  padding: 0 1.5rem 1.5rem;

  .btn + .btn {
    margin-left: .5rem;
  }
}
