.custom-field {
  position: relative;
  display: block;
  width: 100%;
}

.custom-field-input {
  position: absolute;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
  opacity: 0;

  &:checked ~ .custom-field-label::before {
    background-color: $primary;
    border-color: $primary;
  }

  &[type=checkbox]:checked ~ .custom-field-label::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUgMTFMMCA2bDEuNDEtMS40MUw1IDguMTcgMTIuNTkuNTggMTQgMnoiIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    background-position: (0.1875rem - $input-border-width) (0.25rem - $input-border-width);
  }

  &[type=radio]:checked ~ .custom-field-label::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUgMEMyLjI0IDAgMCAyLjI0IDAgNXMyLjI0IDUgNSA1IDUtMi4yNCA1LTUtMi4yNC01LTUtNXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    background-position: .25rem;
    background-size: .5rem;
  }

  &:focus,
  &.focus {
    & ~ .custom-field-label::before {
      border-color: $primary;
      box-shadow: $focus-shadow;
    }

    &.invalid ~ .custom-field-label::before {
      box-shadow: 0 0 0 $focus-shadow-width rgba($danger, $focus-shadow-opacity);
    }
  }

  &.invalid ~ .custom-field-label::before {
    border-color: $danger;
  }

  &.invalid:checked ~ .custom-field-label::before {
    background-color: $danger;
  }

  &:disabled,
  &[readonly] {
    & ~ .custom-field-label::before {
      background-color: $gray-200;
      border-color: $gray-400;
      opacity: 1;
    }
  }
}

.custom-field-label {
  display: block;
  width: 100%;
  padding: .125rem 0 .125rem 1.75rem;
  font-size: $font-size-sm;
  line-height: $input-line-height;

  &::before {
    @include transition(
      background-color $transition-duration $ease,
      border $transition-duration $ease,
      box-shadow $transition-duration $ease
    );

    content: '';
    position: absolute;
    left: 0;
    top: .125rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: $input-border-width solid $input-border-color;
    background-repeat: no-repeat;
  }
}

.custom-field-input[type=checkbox] ~ .custom-field-label::before {
  border-radius: $input-border-radius;
}

.custom-field-input[type=radio] ~ .custom-field-label::before {
  border-radius: 50%;
}
