// Colors
$white:                      #fff !default;
$gray-50:                    #fafbfc !default;
$gray-100:                   #f4f5f7 !default;
$gray-200:                   #ebecf0 !default;
$gray-300:                   #dfe1e6 !default;
$gray-400:                   #c1c7d0 !default;
$gray-500:                   #a5adba !default;
$gray-600:                   #7a869a !default;
$gray-700:                   #42526e !default;
$gray-800:                   #253858 !default;
$gray-900:                   #091e42 !default;
$black:                      #000 !default;

$blue:                       #0252cc !default;
$indigo:                     #6610f2 !default;
$purple:                     #5243aa !default;
$pink:                       #e83e8c !default;
$red:                        #de350c !default;
$orange:                     #fd7e14 !default;
$yellow:                     #ffab02 !default;
$green:                      #00875a !default;
$teal:                       #00a3bf !default;
$cyan:                       #00c7e6 !default;

$primary:                    $blue !default;
$success:                    $green !default;
$info:                       $cyan !default;
$warning:                    $yellow !default;
$danger:                     $red !default;
$light:                      $gray-100 !default;
$dark:                       $gray-900 !default;

$text:                       $gray-700 !default;
$text-muted:                 $gray-600 !default;
$body-bg:                    $white !default;
$body-color:                 $text !default;

$border-radius:              .25rem !default;
$border-radius-lg:           .375rem !default;
$border-radius-sm:           .1875rem !default;

$box-shadow-sm:              0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                 0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:              0 1rem 3rem rgba($black, .175) !default;
$focus-shadow-width:         .2rem !default;
$focus-shadow-opacity:       .3 !default;
$focus-shadow:               0 0 0 $focus-shadow-width rgba($primary, $focus-shadow-opacity) !default;

// Fonts
$font-family:                -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:      SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size:                  1rem !default;
$font-size-lg:               ($font-size * 1.25) !default;
$font-size-sm:               ($font-size * .875) !default;
$font-size-xs:               ($font-size * .75) !default;

$font-weight:                400 !default;
$line-height:                1.5 !default;
$input-line-height:          $line-height !default;

// Links
$link-color:                 $primary !default;
$link-text-decoration:       none !default;
$link-hover-color:           darken($primary, 15%) !default;
$link-hover-text-decoration: underline !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-contrasted-threshold:   150 !default;
$yiq-text-dark:              $gray-700 !default;
$yiq-text-light:             $white !default;

// Easing
$ease:                       ease-in-out !default;
$ease-in:                    cubic-bezier(.25, .85, .55, 1) !default;
$ease-out:                   cubic-bezier(.45, 0, .75, .15) !default;
$transition-duration:        .25s !default;
$transition:                 all $transition-duration $ease-in !default;
